## Contrbuting Github opensource projects
- Steps to get more github points
- [ ] Find a project which i have knowldge
    - To get project dont go through all the pojects on the github
    - go with the explorer menu in the gitub and find the project
    - or you can contribute on the project that youre working got he modules your working on 
    - see which one was old start at there
    - go to the issue queue and find a solution and help them
    - then check their any rules for contributing and follow 
- [ ] go to the top and click forke button and choose your self as a owener and create and clone it into your pc and start working on 
    - chang is just simple changing like data type or what itis just do it be creative
    - add , commit, and push our forke that we created
    - head oer to te main project braject branch and click compare and pull rquest and 
    - it will show the text field and enter what changes that we made to the project and anyissues we fixed and hit create and pull
    - some projects have veriication 
    - some projects dont have verifiaction and they will instently mergeit into the projects
    - wait for the fedback and review

In [1]:
if __name__=='__main__':
    def __init__(self):
        return 4

##__name__ returns the name of that module
    - module is python file which contains pythons definitions and statements
    - when we want to know which module we are working in then we can use this variable to find out
    - if the file is imported and running by other python file it will return that file name in __name__ variable 
    -

In [2]:
__name__

'__main__'

## args and kwargs
### *args
- args means positional arguments these arenessesary to execute functin
    - args are variables or values
    - to specify variable as possitional argument add single * before the variable
    - Example :-
        - var = 'string'
        - fun(21,var)
        - fun(*var)

### **kwargs
- **kwargs are not nessesaryit defults store a value inside the **kwargs keyword but if the user needs to pass the value it will replace the defult value
    - kwargs are value assigned variables in a function call
    - to specify variable as possitional argument add double ** before the variable
    - Example:-
        - var = 50
        - fun(kwarg1=20,kwarg2=30)
        - fun(**var)

## Type annotation
- Type annotation is the process of defining the input and output data ofthe function return value
- it is done by using the  type annotations at the end of the function definition using the (-> str: , -> int:)_
    - example 
        - -> def swim(test) -> str: # so it will return output as string value
                - return "I am swimming"
        - Type anotaions:
            - str
            - int
            - None
            - any

In [3]:
class whale():
    def swim(self) -> str:
        return "I am swimming"
    def sing(self) -> str:
        return 'I am singing'
    def __len__(self) -> int:
        return 17

In [4]:
test=whale()

In [5]:
type(test.__len__())

int

In [6]:
def hello(*args,**kwargs):
    pass

## Lambda functions
- Lambda functions are also called as anonymous functions
- Lambda function is a function with no name
- it defined by keyword lambda 
    - Examplec:-
        - k=lambda a,b:a+b it is the function it will take a and b perameters and return sum of a+b
        - to call function we have to use variable name as function name
            - k(a,b)
    - it will only works when we have single expression
- lambda functions are faster then the normal functions

In [7]:
k=lambda a,b:a+b

In [8]:
k(1,2)

3

## map function
- map function is used to itterate the one function on a list of elements
- it takes two possitional arguments first one was a function and second one was itterables AKA lists
    - Example:-
        - k= map(fun,lst)

In [9]:
lst=[1,2,3,4,5,6,7,8,9]
def fun(a):  ## this function will take a one positional argument int and check weather the num is odd or even and return
    if a%2==0:
        return "even",a
    else:
        return "odd",a
k=list(map(fun,lst)) #this run that function on each element in list and return weather odd or even

In [10]:
print(k)

[('odd', 1), ('even', 2), ('odd', 3), ('even', 4), ('odd', 5), ('even', 6), ('odd', 7), ('even', 8), ('odd', 9)]

## Filter function
- filter is similar to the map but it only stores the values which succsusfully ran
- Filter function is used to itterate the one function on a list of elements
- it takes two possitional arguments first one was a function and second one was itterables AKA lists
    - Example:-
        - k= Filter(fun,lst)
        - the filyter function returns the only values that are return true

In [11]:
lst=[1,2,3,4,5,6,7,8,9]
def fil(a):  ## this function will take a one positional argument int and check weather the num is odd or even and return
    if a%2==0:
        return True
filt=filter(fil,lst)

In [12]:
list(filt) # it stores a values that return the boolen value True in the function

[2, 4, 6, 8]

## Reduce Function
- the reduce function takes a two arguments one is function and second one was itterable
- it takes a itterable and run the function and store it into a variable and takes the second value in itterables and do the function with previous values as first argument and second argument from iterable 
- and it continues until the itterables and end
    - ***Example***:-
        - lst=[1,2,3,4,5,6,7,8,9]
        - fun(a,b):   
        - reduce(fun,lst)
            - execution:
            - Step1 - var1=fun(1,2)
            - Step2 - var2=fun(var1,3)
            - Step3 - var3=fun(var2,4)
        - and it goes
            -  and it return the finale value after the execution

In [13]:
from functools import reduce

lst=[1,2,3,4,5,6,7,8,9]
def fil(a,b):  ## this function will take a one positional argument int and check weather the num is odd or even and return
    return a+b
k=reduce(fil,lst)
k

45

## list Comprehensions
- List comprehension provides a concise way to create a list.
- it consists of brackets containing an expression followed by a for clause, then zero or more for or if clauses.
- The expression can be anything. meaning you can put in all kinds of objects in list
- Example :-
    - ['Operation' 'For loop' 'if clause']
    -
    - [k+1 for i in range(2,50) if i%2==0] 
    - The above expression will return a list with even numbers from range from 2 to 50

In [14]:
lst1=[]
def lst_squre(lst):
    for i in lst: # it takes more time as it has loops
        lst1.append(i*i)
    return lst1

In [15]:
lst_squre([1,2,3,4,6,7,7,6,5,4,4,6])

[1, 4, 9, 16, 36, 49, 49, 36, 25, 16, 16, 36]

In [16]:
lst=[1,2,3,4,6,7,7,6,5,4,4,6]
lstn=[i*i for i in lst]
lst_even=[i*i for i in lst if i%2==0 ] ##

In [17]:
lst_even

[4, 16, 36, 36, 16, 16, 36]

In [18]:
print([i+1 for i in range(2,50) if i%2==0])#This expression will return a list with even numbers from range from 2 to 50

[3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

## String Formatting

In [19]:
print('Hello Everyone')

Hello Everyone

In [20]:
print('Hello Everyone {} {}'.format('First_String','Second_String'))
# the curly brackets are place holders for dynamic strigs 
# those curly brackets will replace the paramates we given in .format() peranthasis
    # in the above example sometimes the ordering will be missplaced 
    #to fix that issue we can pass the variables inside those curly braces
print('Hello Everyone {fst} {snd}'.format(fst='First_String',snd='Second_String'))

Hello Everyone First_String Second_String
Hello Everyone First_String Second_String

## Iterables vs Iterators
- iterables 
    - iterables are storedin memory and easy to acess all at a same time or each one at a time 
    - example :-
        - lists are iterables as lists are stored in a memory when we create list
        - so we can acess all at same time
- iterators 
    - itrators are created as objects but it wont be inialized in memory until we call that value from the object
    - when we the iterator with next(iterator) it will take each value and allocate memory and once next value called it will erase previous value and initialize next value

In [21]:
lst=[43,6,5,4,6,6,5,6]

In [22]:
print(lst)# as the lst was a list it allocate memory for list elemnts so we can acess the all the elements

[43, 6, 5, 4, 6, 6, 5, 6]

In [23]:
lsti=iter(lst) # converted the list(interable) into a iterator object with iter() function

In [24]:
print(lsti)# as it was a iterator object we cant acess all elements

<list_iterator object at 0x000001B84A83F640>

- to acess the elements inside the iterator object we have to use the next() to get the values

In [25]:
next(lsti)

43

In [26]:
#to acess all elements we can use with iteratoe object
for i in lsti:
    print(i)
## As iterator stores one element at a time it takes less space to run the code

6
5
4
6
6
5
6

## Pyforest
- pyforest is a tool which helps to import the libraris that we wantto use in code
- when we use librarys in code it will check the functions and import those function to the code 

### need to import the pyforest so it will import other libraris it self

In [27]:
kl=np.linspace(2,10,10)

## Exception handling 
---
    
- with the execption handling we can give a meaning full error to users
    - Error:
        - errors are caused when compiling the code example syntex error or symatic error
        - errors are not handled within the code
    - execption
        - execptions are caused when it was using might be a data missmatch execptin or permission execptions
        - execptions are handled within the code
- ### Try
    - the Try block where the code will run and when code throws an error except block will catch
- ### Except
    - The except block will catch the error and return the error and it will run the other code
- ### else
    - the else block will triger when the code is exited without throwing any error 
    - the else block will run when there is no errors in the code  
    - if the execption is handled in except block else block will not be executed
- ### finally
    - the finally block will execute always at the end of the except or else block
    - Example :-
        - when we are working with data base if the error occoured while running the code 
        - it will get into the except or else block and if the error is handled it will go back 
        - if it never wont handled it will exit hte code 
            - in that time the finally block will closses the data base and exits the code
- ### Try
    - the Try block where the code will run and when code throws an error except block will catch
- ### Except
    - The except block will catch the error and return the error and it will run the other code
- ### else
    - the else block will triger when the code is exited without throwing any error 
    - the else block will run when there is no errors in the code  
    - if the execption is handled in except block else block will not be executed
- ### finally
    - the finally block will execute always at the end of the except or else block
    - Example :-
        - when we are working with data base if the error occoured while running the code 
        - it will get into the except or else block and if the error is handled it will go back 
        - if it never wont handled it will exit hte code 
            - in that time the finally block will closses the data base and exits the code
- when try block has an error which exits the try block and goes to the except block so the error has printed or re start code by changing what needs to changed
- we can Write multiple except block with different types of errors
    - if the first error dosent match with exception it will check with second error

In [28]:
#12/0
## this is the error as it was not defined

In [29]:
try:
    ## Code where execptions are occoured
    a=int(input("Enter the number 1 :- "))
    b=int(input("enter the number 2 :- "))
    c=a/b
    print(c)
except NameError as nx: ##in here we taking error type and handling that error accourdingly
    print("the user not defined the values") # in here when ever the name error comes it goes into this block and send thois message to user
except TypeError as tx: ##in here we taking error type and handling that error accourdingly
    print("Try to make data type similar") # in here we got the Type error because of the we are tryto concatinate the string and int
except ZeroDivisionError as tx: ##in here we taking error type and handling that error accourdingly
    print("Please provide the number greater then zero")# in here we got the Zerodevisionerror because of the we are try to devision positive number by zero
except Exception as ex: # always this has to write to end of the exception handlin
    print(ex) ## try block has an error which exits the try block and goes to the except block so the error has printed
else:
    print(a)
    print(b)
    print(c)

Enter the number 1 :-  3
enter the number 2 :-  45

0.06666666666666667
3
45
0.06666666666666667

### Custom Execption Handling

In [30]:
class Error(Exception):
    pass
class dobExecption(Error):
    pass

In [31]:
year=int(input('Enter yer of birth :- '))
age=2021-year
try:
    if age <=30 and age>20:
        print('you can applyy')
    else:
        raise(dobExecption)
except dobExecption:
    print('You cannot apply')

Enter yer of birth :-  2019

You cannot apply

## OOPS concepts
---

### Class
- class has objects and functions
    - objects 
- class is a  combinationof multiple methods
- each method has different functions

In [32]:
class car(): #just created a class which hasno function
    pass

In [33]:
# to instantiate a classh we have to assign a classs with a variable
car1=car()
print(car1) # if we print the class it just return the memory location that class

<__main__.car object at 0x000001B84BC32B80>

In [34]:
## once we create a class 
car1.windows=4
car1.engine="mazarati"
car1.enginetype='Diesel'
# we can add infinite attributes to the class 
## this approach of creting class is wrong
# class car():
#     pass

### __init__
-  __init__ will initalize the class
- init also acts as a constructer to the class when ever we call the class and what values we passed defult int that init perameter
    - Example:- 
        - def __init__(self,windows,enginetype,doors):
        - in the above statement it needs total 3 perameters 
        - 1.windows
        - 2.enginetype
        - 3.doors
     - it will take those perameter and add it to the class instence variable
- init will limit the no of attributes to be placed inside class
- once we initilize we can give how many parameters need to be consider inside that class inside a peranthasis

### self
- self will act as a route for class objects and class intence variable when we call the self keyword it will get the all objects and variables inside the class
-  by using the self keyword in the second method we are able to use the variables inside the other methods

In [35]:
class car:
    def __init__(self,windows,enginetype,doors):
        self.windows=windows
        self.doors=doors
        self.enginetype=enginetype
    def self_driving(self): # by using the self keyword in the second method we are able to use the variables inside the other methods 
        return "this is a {} car".format(self.enginetype)

In [36]:
car1=car(4,'petrol',4)

In [37]:
car2=car(3,'diesel',4)

In [38]:
print(car1.windows)

4

In [39]:
print(car2.enginetype)

diesel

In [40]:
car1.self_driving() ## Calling the second method inside of the class

'this is a petrol car'

## Class methods and class variables
-

In [41]:
import datetime
now = datetime.datetime.now()
class car:
    base_price=100000 # this is a class variable
    def __init__(self,windows,doors,power):
        self.windows=windows
        self.doors=doors
        self.power=power
    def what_base_price(self):
        print("The base price is {}".format(self.baseprice))
    @classmethod ## this is class methods
    def revice_base_price(cls,inflation):# when ever we pass self method it provides data about the instence of that class 
                               # but when we provide a cls method it provide data about class(refering to the class)
        cls.base_price=cls.base_price+cls.base_price*inflation
        
    @staticmethod # in static method we dont provide self or cls perameters 
    def check_year():
        if now.year==2021:
            return True
        else:
            return False

In [42]:
car1=car(2,6,10000)

In [43]:
car1.revice_base_price(0.90)

In [44]:
car1.base_price

190000.0

In [45]:
barb=car(2,4,200)

In [46]:
barb.base_price

190000.0

In [47]:
car1.check_year()

False

### Inheritence 
- Inheritence is used when the code is bigger and messy and when w need to simply the code
- we use multiple classes for each functionality and import the primary class to the secondary class so we can able to acess all the methods inside of the primary class in secondary class

In [48]:
class car(): ## We defined a class called a car
    def __init__(self,windows,doors,enginetype):
        self.windows=windows
        self.doors=doors
        self.enginetype=enginetype
    def drive(self):
        print("The person drive car")

In [49]:
car1=car(4,5,'diesel')

In [50]:
car1.enginetype

'diesel'

In [51]:
dir(car1) # to get the functions(methods) inside of the class

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'doors',
 'drive',
 'enginetype',
 'windows']

In [52]:
car1.drive() # to activate the method inside of the class

The person drive car

- As we seen below we imported the car class in the audi class so we can acess all the methods inside of the car class from the audi class

In [53]:
class audi(car): ## We passed the previos class car into audi class so we can acess all methods inside the car class with audi class
    def __init__(self,windows,doors,enginetype,enableai):
        super().__init__(windows,doors,enginetype)
        self.enableai=enableai
    def selfdrive(self):
        print('audi support self driving')

In [54]:
audi1=audi(5,5,'desil',True)

In [55]:
dir(audi1)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'doors',
 'drive',
 'enableai',
 'enginetype',
 'selfdrive',
 'windows']

- As we can wsee the methods inside of the car class also showing on the audi class

In [56]:
print(audi1.windows)
print(audi1.doors)
print(audi1.enginetype)
print(audi1.enableai)

5
5
desil
True

## Multiple inheritence
- Multiple inheritence means importing multiple classes into the same class as we importing the Class B and Class C into the Class D
- So we can able to acess the Methods inside of the Class B and Class C ethods from the Class A
- to import multiple classes to present class use , to seperate multiple classes

In [57]:
class A:
    def method(self):
        print("A class method is called")

In [58]:
class B(A):
    def method1(self):
        print("B class method is called")
    def method2(self):
        print("B class method2 is called")

In [59]:
class C(A):
    def method1(self):
        print("C class method is called")

In [60]:
class D(B,C):
    def method1(self):
        print("D class method is called")
        C.method1(self)
        B.method1(self)
        A.method(self)

In [61]:
d=D()

In [62]:
d.method1()

D class method is called
C class method is called
B class method is called
A class method is called

In [63]:
B.method1(d)

B class method is called

In [64]:
A.method(d)

A class method is called

### Magic methods in classes
- when we use command ```dir(class)``` w can see all the methods in that methods some are starting with the __ those methods are called as the Magic_Methods
    - Examples:-'__class__',
         __delattr__,
         '__dict__',
         '__dir__',
         '__doc__',
         '__eq__',
         '__format__',
         '__ge__',
         '__getattribute__',
         '__gt__',
         '__hash__',
         '__init__','__class__',
         '__delattr__',
         '__dict__',
         '__dir__',
         '__doc__',
         '__eq__',
         '__format__',
         '__ge__',
         '__getattribute__',
         '__gt__',
         '__hash__',
         '__init__',
- Each magic method has different use cases in method calling
- We can overide the magic methods

In [65]:
class car(): ## We defined a class called a car
    def __init__(self,windows,doors,enginetype):
        self.windows=windows
        self.doors=doors
        self.enginetype=enginetype
    def __str__(self): ## previously we get message with method store lcation in memory now we get the message below
        return 'We printing this from the __str__ magic method'
    def __sizeof__(self): ## previously we get Size of metod inbytes
        return 'We printing this from the __sizeof__ magic method'
    def drive(self):
        print("The person drive car")

In [66]:
c=car(4,5,'Desiel')

In [67]:
dir(c)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'doors',
 'drive',
 'enginetype',
 'windows']

In [68]:
print(c)

We printing this from the __str__ magic method

In [69]:
c.__sizeof__()

'We printing this from the __sizeof__ magic method'

## Python Eval Function--> Evaluating Expression Dynamically
- the `eval()` will check if the python expression is stored in the data type as string int the object
- the `eval()` function will evaluate python expression which are written as strings
- it takes 3 arguments
    - 1. String Expression
         - the string is python expresssion that was stored as a string
    - 2. Global
    - 3. local
        - for defult defult Global and local is none
        - the global and local rfers to the variable that we passed inside function and outside functin variables
        - to define that we have to use the key value pairs as secondary arguments we have to pass the these permeters as key value pairs as dictonary
            - Example :-
                - x=50
                - y=30
                - test="x+y"
                - eval(test,{"x":x,"y":y})# we defined x and y globel variable to the eval function
                - #### Result 80
        
- the eval function takes the string and check if the python expression was storedinsid eof the variable  and if it exists the eval function will do the evalution andreturn the intiger
- ### How does `eval()` works
    - 1. It parsses the data that we are passing
    - 2. Complies the parsses data
    - 3. Evalute the compiled data

In [117]:
k='5*5'

In [118]:
print(k) # as it was a string the print function was printed that as it was stored

5*5

In [119]:
print(eval(k)) # the eval function takes the string and check if the python expression was storedinsid eof the variable  and if it exists the eval function will do the evalution andreturn the intiger

25

In [122]:
eval(input("Enter the python expression :- "))

Enter the python expression :-  sum([3,5,7,76])

91

In [129]:
x=5
eval('x+50+x**5',{"x":x})

3180

In [131]:
x=50
y=30
test="x+y"
eval(test,{"x":x,"y":y})# we defined x and y globel variable to the eval function

80

## Python Assert
- python provides the assert statement to check if the given logical expression is true or false.
    - if we give 10>=10
        - it will return true as a result 
        - when it was not satisfied the logical expression it will give raisses an ```AssertionError```
    - as it was a logical expression
- this is same as the execption handling 
- program execution proceeds only if the expression is true and raises the AssertionError when it is false. The follwing code shows the usage of the assert statement

#### in below example we given an togical expression to check the input is even or odd if the given value is even it will continue with code flow if it is wrong it raises an AssertionError and with try catch block we can catch that error and return another function

In [70]:
num=10
#assert num>=16
print('success')

success

In [71]:
try:
    num=int(input('Enter a number'))
    assert num%2==0 
    print('number is even')
except AssertionError:
    print('Please enter even Number')

Enter a number 4

number is even

## Iterator vs Genrator
- #### Iterator ( itrable )
    - itterators are bunch of collections which which can be go through one by one
    - Example
        - lists, Dicts, Sets, etc 
            - we can go through each element in those dataTypes
    - We can make a iterator by using iter() keyword
    - #### When we use this iterator this will store the data into the memory and it get the data only whenwe call it as it uses the less memory when compared with list
    - iterator will uses much more efficient
    
    
    - we can use this itrator to iterator
    - Example 
        - iter(k)
    - once we will cess the data it will erase from the memory
    - we can only acess the data once 
        - to acess the data we can use for loop or next(iterator) keyword to go through each element in the iterator
        - in next(iterator) when we access all elements in the iterato it will through an execption as `StopIteration` 
        - but in for loop the error will handled and exits the for loop
    
- #### Generator
    - generator is used to generate a iterator object 
    - to create a generator we use function along with yield() keyword
    - the yield keyword will save local variables inside a iterator
    - generator let us write fast and compact code

In [72]:
#Iteretor
lst=[3,4,5,7,3,1,5,7,4,2,2]

In [73]:
for i in lst:
    print(i, end="")

34573157422

In [74]:
iterator=iter(lst)

In [75]:
for k in iterator:
    print(k)

3
4
5
7
3
1
5
7
4
2
2

In [76]:
# next(iterator)

In [77]:
#Generator
def square(n):
    for i in range(n):
        #return i**2 #it will gives the first vakue as 0
        yield i**2 # it will gives the iterator object with all values from the loop

In [78]:
g=square(3)

In [79]:
for i in g:
    print(i,end="")

014

## Python Decoretors
- ### Function copy
    - function copy said when we return value from the function and store it into the variable
    - so it will acessable even after deleting the fuction
- ### closures
    - Whenever we called a function inside a function that willbe called as a closures function
    - when we use functions inside a function we can use variable in all sub functions as it was closeres
- ### decorators
    - Decorator are called when we call one function from another function nd we are pssing a function as a parameter to the function

In [80]:
## Function copy
def welcome():
    return "Welcome"

In [81]:
kl=welcome()

In [82]:
kl

'Welcome'

In [83]:
del welcome # we deleted the function

In [84]:
kl # Even as we deleted the function we aregetting the value because 
    # we saved the valuere turned from the function inside of a variable

'Welcome'

In [85]:
### Closures
def main_welcome(msg):
    k=50
    def sub_welcome():
        print('Welcome to krish naik')
        print(msg)
        print('lern new things')
        def test():
            print(msg)
            print(k)
        return test()
    return sub_welcome()

In [86]:
main_welcome('krish')

Welcome to krish naik
krish
lern new things
krish
50

In [87]:
## Closeures and decorators
### Closures

# inside a function we can give another function
def main_welcome(func):# in function calling print in the paremater input the print 
                       # function will replace by func that we passed inside a function
    def sub_welcome():
        print('Welcome to krish naik')
        print(func()) # as we called hereit will reflectas print and prin the statement
        print('lern new things')
    return sub_welcome()

In [89]:
@main_welcome
def channel_name():
    print("this is crishnaik yt chalnnel")

Welcome to krish naik
this is crishnaik yt chalnnel
None
lern new things

In [90]:
@main_welcome ## this @main_welcome decorator takes the below function and pass the function as permeter to the main_welcom function
def channel_name():
    print('tehbd f')

Welcome to krish naik
tehbd f
None
lern new things

In [91]:
main_welcome(channel_name)# in here what ever function that we are passing 
                   # inside a peranthasis it will reflect on the inside function of function

Welcome to krish naik

TypeError: 'NoneType' object is not callable

## is vs == keywords
- ### `is`
    - is keyword will compare the values of two elements and also where it was stored in memory (Location)
- ### `==`
    - == keyword will compare only the values stored inside of the variable

In [92]:
lst1=['krish','krish1','kris2']
lst2=['krish','krish1','kris2']

In [93]:
lst1==lst2

True

In [94]:
a='krish'
b='krish'
a==b

True

In [95]:
lst1=['krish','krish1','kris2']
lst2=lst1
lst1 is lst2

True

In [96]:
lst2 is lst1

True

## Shallow copy vs Deep copy
- ### Shallow copy
    - in here we are refering to the list that was stored in one memory location with the two variables 
        - so if we change lst2 it will reflect on the lst1
        - this is called as Shllow copy
        - it is done by using variable.copy()
    - in single dimention shallow copy is good
    - but in nested lists shallow copy wont work
- ### Deep copy
    - in deep copy the data is written in the different memory location 
    - the deep copy is done by using the module `copy` with `copy.deepcopy(lst1)` variable
    - it will work fine for nested and mormal objects

In [97]:

lst1=[1,2,3,4]
lst2=lst1

In [98]:
# Shallow copy
lst1=[1,2,3,4]
lst2=lst1.copy() 
# this method will not work with the nested objects as they are refereing to the same objects once copied

In [99]:
lst2[2]=4

In [100]:
lst2, lst1

([1, 2, 4, 4], [1, 2, 3, 4])

In [101]:
lst1=[[4,1,3,5],[0,8,5,32]]
lst2=lst1.copy()

In [102]:
lst2[0][3]=100

In [103]:
lst2,lst1

([[4, 1, 3, 100], [0, 8, 5, 32]], [[4, 1, 3, 100], [0, 8, 5, 32]])

In [104]:
lst1.append([6,3,9,2])

In [105]:
lst2,lst1

([[4, 1, 3, 100], [0, 8, 5, 32]],
 [[4, 1, 3, 100], [0, 8, 5, 32], [6, 3, 9, 2]])

In [106]:
## Deep copy
import copy

In [107]:
lst1=[1,2,3,4,3]
lst2=copy.deepcopy( )

In [108]:
lst1,lst2

([1, 2, 3, 4, 3], [1, 2, 3, 4, 3])

In [109]:
lst2[1]=1000

In [110]:
%%time
lst1,lst2

Wall time: 0 ns

([1, 2, 3, 4, 3], [1, 1000, 3, 4, 3])

## Speeding pandas
- this will improve the running speed of the pandas import module
- pandas was slow when we compared with the numpy as the numpy was compiled with Cpython 
    - Cpython was a combination of the C and python language 
    - but in pandas it was compiled using only the python language
- ### We have a module named modin which improves the speed of the python 
- nativily pandas run on single CPU core 
- Modin splits the pandas execution to the all CPU core so it will increases the speed of the pandas

In [115]:
%%time
import pandas as pd
df=pd.read_csv('https://raw.githubusercontent.com/MateLabs/Public-Datasets/master/Datasets/wine.csv')
df

Wall time: 1.33 s

,Alcohol,Malic acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280/OD315 of diluted wines,Proline,Class
0,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065,one
1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050,one
2,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185,one
3,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480,one
4,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735,one
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740,three
174,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750,three
175,13.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835,three
176,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840,three
177,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560,three

In [116]:
%%time
import modin.pandas as pd
df=pd.read_csv('https://raw.githubusercontent.com/MateLabs/Public-Datasets/master/Datasets/wine.csv')
df

UserWarning: Ray execution environment not yet initialized. Initializing...
To remove this warning, run the following python code before doing dataframe operations:

    import ray
    ray.init()

UserWarning: Parameters provided defaulting to pandas implementation.
Please refer to https://modin.readthedocs.io/en/stable/supported_apis/defaulting_to_pandas.html for explanation.

Wall time: 10.1 s

,Alcohol,Malic acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280/OD315 of diluted wines,Proline,Class
0,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065,one
1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050,one
2,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185,one
3,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480,one
4,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735,one
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740,three
174,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750,three
175,13.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835,three
176,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840,three
177,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560,three

In [ ]:
empty.array vs empty.asarray